<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:L6MusicPlayer.properties"/>

    <bean id="L1"
          class = "com.example.springboot.L1.TestBean">

        <constructor-arg value="Alexey" />
        <constructor-arg value="25"/>

    </bean>

    <bean id="L1a"
          class = "com.example.springboot.L1.TestBean">

        <constructor-arg value="Roman" />
        <constructor-arg value="26"/>
        <constructor-arg value="RF" />

    </bean>


    <bean id="l4"
          class="com.example.springboot.L4.ClassicalMusic">
    </bean>

    <bean id="l4_1"
          class="com.example.springboot.L4.RockMusic">
    </bean>

    <bean id="l5_Music"
          class="com.example.springboot.L5.RockMusic">
    </bean>

    <bean id="l5_musicPlayer"
          class="com.example.springboot.L5.MusicPlayer">
          <constructor-arg ref="l5_Music" />
    </bean>

    <bean id="l6_Music"
          class="com.example.springboot.L6.RockMusic">
    </bean>

    <bean id="l6_musicPlayer"
          class="com.example.springboot.L6.MusicPlayer">
        <property name="music" ref="l6_Music" />
        <property name="playerName"  value = "alexPlayer"/>
        <property name="volume" value  = "50"/>
        <property name="color" value="${musicPlayer.color}"/>
        <property name="musicList" value="${musicPlayer.musicList}"/>
    </bean>



</beans>